@page
@model EstanciaCaballos.App.Frontend.Pages.veterinarioModel
@{
}

<div class="container" id="veterinarioForm" style="display: none;">
  <h1>Añadir Veterinario</h1>
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Nombre</label>
      <input type="text" class="form-control" placeholder="Juan C." required>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Apellido</label>
      <input type="text" class="form-control" placeholder="Otalora" required>
    </div>
    <div class="col-md-4">
      <label for="validationCustomDireccion" class="form-label">Dirección</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" placeholder="KR. 3 # 1 - 2" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomTelefono" class="form-label">Teléfono</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" placeholder="1234567890" required>
      </div>
    </div>
    <div class="col-md-4">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomLicencia" class="form-label">N° Tarjeta Profesional</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" placeholder="894984613032-25" required>
      </div>
    </div>

    <div class="col-12">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
            Disponible
        </label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="lunes">
        <label class="form-check-label" for="inlineCheckbox1">Lunes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="martes">
        <label class="form-check-label" for="inlineCheckbox2">Martes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="miercoles">
        <label class="form-check-label" for="inlineCheckbox3">Miercoles</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="jueves">
        <label class="form-check-label" for="inlineCheckbox3">Jueves</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="vieres">
        <label class="form-check-label" for="inlineCheckbox3">Viernes</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="sabado">
        <label class="form-check-label" for="inlineCheckbox3">Sabado</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="domingo">
        <label class="form-check-label" for="inlineCheckbox3">Domingo</label>
        </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit"  onclick="mostarFormulario()">Guardar</button>
    </div>
  </form>
</div>

<div class="container" id="veterinarioPrincipal">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-primary"  onclick="mostarFormulario()"><i class="fa-solid fa-plus"></i></button>
    </div>
    <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"><b>Nombre</b></th>
        <th scope="col"><b>Apellido</b></th>
        <th scope="col"><b>Dirección</b></th>
        <th scope="col"><b>Teléfono</b></th>
        <th scope="col"><b>Correo</b></th>
        <th scope="col"><b>Licencia</b></th>
        <th scope="col"><b>Disponible</b></th>
        <th scope="col"><b>Horario</b></th>
        <th scope="col"><b>Acciones</b></th>
        </tr>
        <tbody>
          @foreach (var veterinario in Model.veterinarios)
        {
        <tr>
            <th scope="row">@veterinario.Id</th>
            <td>@veterinario.nombre</td>
            <td>@veterinario.apellido</td>
            <td>@veterinario.direccion</td>
            <td>@veterinario.telefono</td>
            <td>@veterinario.correo</td>
            <td>@veterinario.licencia</td>
            <td>@veterinario.estaDisponible</td>
            <td>@veterinario.horarioAtencion</td>
            <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-eye"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-minus"></i></button>
            </div>
            </td>
        </tr>
        }
        </tbody>
    </thead>
    </table>
</div>


<script>
function mostarFormulario() {
  var x = document.getElementById("veterinarioForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>